<!DOCTYPE html>
<html lang="en">
<head>
  <title>Muskrat Trails Zine</title>
  <!--#include head-->
  <link rel="stylesheet" href="zine.css">
  <!-- Bootstrap JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body id="zine-body">
  <header id="header">
    <div class="container">
      <script src="nav.js"></script>
    </div>
  </header>

  <div class="content wrapper">
    <div class="title-price-container">
      <h1>Issue 02: Ramble 2025</h1>
      <!-- <h2 class="price">$10.00</h2> -->
    </div>

    <div class="zine-cover">
      <img src="./images/zine/full/zine-2025-cover.jpg" alt="2025 zine cover">
    </div>
  </div>
  <br>

  <div class="zine-details">
    <div class="zine-description">
      <p>This is Issue 02 of the Muskrat Zine, A photo documentation
         and publication of the Annual Muskrat Ramble, a 50 mile bike
         ride on the MKT and Katy Trails, featuring photography from
         the riders themselves.
      </p>
      <br>
      <p>
        Director and Lead Photographer - Gabi Jacobs
        <br>
        Photo Credits listed within the zines.
      </p>
      <p style="text-align: center;">
        <a class="zine-purchase-btn" href="https://comotees.com/products/muskrat-ramble-photo-zines" target="_blank" rel="noopener noreferrer">Purchase here</a>
      </p>
      <br>
    </div>
  </div>

  <script src="footer.js"></script>
  <!-- Close the mobile menu when tapping outside it -->
  <script src="window_events.js"></script>
</body>
</html>
