

header {
    top: 0;
    left: 0;
    align-items: center;
    background-color: rgba(181, 155, 124);
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #add19e; /* Replace with your desired color code */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 img {
    height: 60px;
    width: auto;
    vertical-align: middle;
}

footer {
    background-color: rgba(161, 135, 104);
    color: white;
    text-align: center;
    padding: 10px;
    height: 50px;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 1000;
}

main {
    flex: 1; /* Allow main to grow and fill the remaining space */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    /*background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    border-radius: 8px;
    margin: 20px;
}

#map-section {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1200px; /* Set a maximum width for larger screens */
    margin: 0 auto;    
}

#map {
    width: 100%;
    height: calc(100vh - 350px);
    border: 20px solid rgba(125, 185, 115, 1); /* Optional: Add a border around the map */
    border-radius: 15px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for depth */
}

.nav-link {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 15px;
}

.nav-link:hover {
    background-color: rgba(161, 135, 104, 1);
    color: #fff;
    border-radius: 15px;
}
.nav-link.active {
    background-color: rgba(161, 135, 104, 1);
    /*color: #fff;*/
    border-radius: 15px;
}

